.biggames-container{
padding:20px;
}

.biggames-title{
display:flex;
justify-content:space-between;
color:#f9a826;
font-weight:bold;
margin-bottom:15px;
}

.biggames-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.game-card{
position:relative;
border-radius:16px;
overflow:hidden;
cursor:pointer;
height:140px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
transition:transform .3s;
}

.game-card:hover{
transform:scale(1.05);
}

.game-img{
width:100%;
height:100%;
object-fit:cover;
}

.game-overlay{
position:absolute;
inset:0;
background:linear-gradient(to top,rgba(0,0,0,.9),transparent);
}

.game-info{
position:absolute;
bottom:10px;
left:10px;
color:white;
}

.tag{
background:red;
font-size:10px;
padding:3px 8px;
border-radius:5px;
margin-bottom:4px;
display:inline-block;
}

.viewall{
color:#7c4dff;
cursor:pointer;
}